input{
  width: 40%;
}
label{
  font-family: Tahoma, sans-serif;
}
input[type=radio] {
  width: 20px;
}
/*underlines for user and email*/
input[type=text], [type=email] {
  padding: 2px 2px;
  margin: 8px 0px;
  border: 2px solid #2BC71A;
  }
/*text box outline*/
textarea{
  border: 2px solid  #2BC71A;
}
input[type=submit] {
  background-color: #2BC71A;
  color: white;
  width: 30%;
}
h1, h2, h3 {
  text-align: center;
  font-family: 'Arial Narrow Bold', sans-serif;
}
p {
  text-align: center;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 150%;
}

/*inner = #ff0000  outer = #710000*/
#pageTitle {
	background-image: url(PageTitle.jpg);
	width: 500px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    margin: 20px;
    position: sticky;
}

#topImage {
    background-image: url(Dog.jpg);
    width: 450px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    margin: 20px;
}
#dog {
    background-image: url(Dog4.jpg);
    width: 450px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  #cat {
    background-image: url(cat.jpg);
    width: 450px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  #rabbit{
    background-image: url(rabbit.jpg);
    width: 450px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
#intro {
  	background-color: rgb(100, 56, 26);
    border: solid  #2BC71A;
    padding: 50px;
    margin: 20px;
    position: sticky;
    color: black;
}
  #whatAreThey {
    background-color: rgb(100, 56, 26);
    border: solid  #2BC71A;
    padding: 50px;
    margin: 20px;
    position: sticky;
    color: black;
  }
  #whatsSoGreat {
    background-color: rgb(100, 56, 26);
    border: solid  #2BC71A;
    padding: 50px;
    margin: 20px;
    position: sticky;
    color: black;
  }
  #animal {
    background-color: rgb(100, 56, 26);
    border: solid  #2BC71A;
    width: 35%;
    margin: 30px 100px;
	  color: black;
  }
  #contactme {
    background-color: rgb(100, 56, 26);
    border: solid  #2BC71A;
    padding: 50px;
    margin: 20px;
    position: sticky;
  }

/*css div code for dropdown menu*/
#menu {
  background: #0099CC;
	background: linear-gradient(to bottom,  #2BC71A,  #519C59);
	color: #FFF;
	height: 40px;
	padding-left: 18px;
	border-radius: 0px;
	border: 4px solid #87E000;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 32px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 17px;
	text-transform: capitalize;
}
#menu a.dropdown-arrow:after {
	content: "\23F7";
	margin-left: 5px;
}
#menu li a:hover {
	color: black;
	background: #519C59;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 32px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #519C59;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}

.center {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
}
.contactme {
  align-items: center;
  width: 100%;
  height: 50%;
}